/* Main container styling */
  
  /* Ensure react-tabs takes full width */
  .react-tabs {
    width: 100%;
    display: flex;
  }
  
  .tabs-container {
    display: flex;
    width: 100%;
  }
  
  /* Style the TabList to occupy the full height of the main container */
  .tab-list-container {
    flex-shrink: 0;
    width: 400px; /* Fixed width for the tab list */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden; /* Ensure rounded corners are visible */
    margin-right: 20px; /* Space between tab list and panel */
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
  }
  
  /* Style each Tab to take equal vertical space */
  .react-tabs__tab {
    text-align: center;
    padding: 15px 10px;
    cursor: pointer;
    color: #333;
    border-bottom: none; /* Remove bottom border to avoid double border */
    transition: background 0.3s, transform 0.3s;
    margin: 2px 0; /* Add space between tabs */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Lighter shadow */
  }
  
  .react-tabs__tab--selected {
    background: #f0f8ff; /* Very light blue background */
    color: #007bff;
    border-left: 2px solid #007bff; /* Highlight selected tab */
    transform: translateX(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
    font-weight: bold; /* Make the font bold */
  }
  
  
  .react-tabs__tab:hover {
    background: #cce5ff; /* Light hover effect */
  }
  
  /* Ensure the TabPanel takes the full width of the main container */
  .tab-panel-container {
    flex-grow: 1;
    width: 100%; /* Ensure it takes the full remaining width */
    padding: 20px;
    background: #fff;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Lighter shadow */
    min-height: 300px; /* Set a minimum height for consistency */
  }
  
  .react-tabs__tab-panel {
    width: 100%;
  }
  