.search-bar {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.search-input {
  padding: 8px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 100%;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #0056b3;
}

.keyboard-toggle {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.keyboard-type-btn {
  background: none;
  border: none;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.keyboard-type-btn:hover {
  background-color: #e6e6e6;
}

.keyboard-type-btn.active {
  background-color: #007bff;
  color: white;
}

.devanagari-icon {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
}

.qwerty-icon {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.search-button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
  border-color: #004495;
} 